/* ================= BODY ================= */

body {
  background-color: #f4f1eb;
  margin: 0;
  padding: 0;
}

/* ================= NAVBAR ================= */

.navbar {
  position: sticky; /* makes navbar stick while scrolling */
  top: 0; /* to stick navbar to top */
  z-index: 1000; /* to keep it above other elements while scrolling */
  display: flex; /* to align items in a row */
  justify-content: space-between; /* to give enough space between contents */
  align-items: center;
  padding: 15px 60px;
  background-color: #f4f1eb;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* for shadow effect*/
}

/* logo box containing website name and logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* logo name */
.logo a {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 28px;
  font-weight: 600;
  color: #2c2c2c;
}

/* logo image */
.logo img {
  height: 30px;
}

/* different color for word "Sync" */
.logo span {
  color: #6c7a89;
  font-style: italic;
}

/* container for nav links */
.nav-links {
  list-style: none; /* to remove bullets from the start */
  display: flex; /* to centre links in one straight nav bar */
  gap: 40px; /* space between links */
  margin: 0;
  padding: 0;
}

/* nav link styling */
.nav-links a {
  text-decoration: none; /* to remove underlines from the links */
  font-family: "Plus Jakarta Sans", serif;
  font-size: 15px;
  color: #5a6a7a;
  transition: color 0.3s ease; /* for a good hover effect transition */
}

/* nav bar links: hover effect */
.nav-links a:hover {
  color: #2c2c2c;
}

/* check compatibility button */
.check-comp-btn {
  text-decoration: none; /* to remove underline from btn text */
  background-color: #4f6275;
  color: white;
  padding: 10px 20px;
  border-radius: 30px; /* to give a round pill-like shape */
  font-family: "Plus Jakarta Sans", serif;
  font-size: 15px;
  transition: box-shadow 0.3s ease; /* for box shadow of btn */
}

.check-comp-btn:hover {
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}

/* ================= HERO SECTION ================= */

/* heading font */
h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 80px;
  font-weight: 500;
  margin: 0;
  line-height: 1; /* to adjust the vertical space between words  */
}

/* 'perfect' word styling */
.perfect {
  font-family: "Playfair Display", serif; /* different font for contrast */
  font-style: italic;
  color: #657993; /* different colour for contrast */
}

/* hero subtext */
.hero-subtext {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 17px;
  color: #5a6a7a;
  max-width: 480px; /* to prevent long stretched line */
  margin-top: 25px;
  line-height: 1.6; /* to adjust vertical space between lines */
}

/* hero buttons */
.hero-buttons {
  display: flex; /* Places buttons side by side */
  gap: 20px; /* Space between buttons */
  margin-top: 30px; /* Space above buttons */
}

/* hero button 2 */
.hero-btn-2 {
  text-decoration: none; /* to remove underline from btn text */
  background-color: transparent;
  color: #4f6275;
  border: 1.5px solid #4f6275; /* border styling */
  padding: 12px 24px;
  border-radius: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  /* multiple transitions */
  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.hero-btn-2:hover {
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
  background-color: #4f6275;
  color: white;
}

/* hero section container */
.hero {
  display: flex; /* heading and image in a straight line */
  justify-content: space-between; /* to push heading left, image right */
  align-items: center;
  padding: 80px 60px;
  gap: 50px;
}

/* hero image styling */
.hero-image img {
  border-radius: 100px;
}

/* ================= FEATURE STRIP ================= */

/* full width strip below hero section */
.feature-strip {
  background-color: #4f6275; /* bluish background to create contrast */
  padding: 16px 0px;
  display: flex;
  justify-content: center; /* horizontal align */
  align-items: center; /* vertical align */
  gap: 30px; /* gap between items in features strip */
}

/* each individual feature (icon and text pair!) */
.feature-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; /* gap between icon and feature*/
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* icon styling */
.feature-icon {
  font-size: 17px; /* slightly bigger than text */
}

/* ================= HOW IT WORKS SECTION ================= */

.how-it-works {
  padding: 100px 60px;
  background-color: #f4f1eb;
}

/* main heading */
.section-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  font-weight: 500;
  margin: 0; /* to eliminate margin from top */
  color: #2c2c2c;
}

/* container holding all step cards */
.steps-container {
  margin-top: 70px;
  display: flex;
  gap: 30px;
  justify-content: space-between; /* to have equal space between cards */
}

/* individual step card */
.step-card {
  flex: 1; /* to make all cards have equal width */
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 25px;
  position: relative; /* parent box */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.3s ease; /* to make hover effect better */
}

/* step card: hover effect */
.step-card:hover {
  box-shadow: 15px 30px 50px rgba(0, 0, 0, 0.08);
}

/* step numbers on the cards */
.step-number {
  position: absolute; /* css positioning according to parent div! */
  top: 20px;
  right: 25px;
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  color: rgba(108, 122, 137, 0.4); /* alpha - for a light faded number  */
}

/* icon styling */
.step-icon {
  font-size: 26px;
}

/* step title */
.step-card h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  color: #2c2c2c;
}

/* step description */
.step-card p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  color: #5a6a7a;
  margin-top: 15px;
  line-height: 1.6;
}

/* ================= WHAT WE SOLVE SECTION ================= */

.solve-section {
  padding: 100px 60px;
  background-color: #ebe6d8; /* warm colour for contrast */
  display: flex;
  gap: 80px;
}

/* left content column */
.solve-left {
  max-width: 520px; /* so that text doesn't form a single big line */
}

/* solve heading */
.solve-heading {
  font-family: "Cormorant Garamond", serif;
  font-size: 65px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.1;
  color: #2c2c2c;
}

/* grid holding conflict cards */
.solve-grid {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* 2 cols of equal length - responsive! */
  gap: 25px;
}

/* individual conflict card */
.solve-card {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 26px;
  display: flex;
  gap: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

/* hover effect */
.solve-card:hover {
  box-shadow: 15px 30px 45px rgba(0, 0, 0, 0.1);
}

/* icon for cards */
.solve-icon {
  font-size: 23px;
}

/* card title */
.solve-card h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  margin: 0; /* to remove all margin! make text look aligned */
  color: #2c2c2c;
}

/* card description */
.solve-card p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
  margin-top: 8px;
  color: #5a6a7a;
  line-height: 1.5;
}

/* ================= WHO's IT FOR SECTION ================= */

.who-section {
  padding: 100px 60px;
}

/* container holding all audience cards */
.who-container {
  margin-top: 70px;
  display: flex;
  gap: 30px;
  justify-content: space-between; /* for equal spacing in-between them */
}

/* individual audience card */
.who-card {
  flex: 1; /* equal width */
  background-color: white;
  padding: 40px 30px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.3s ease;
}

/* hover effect for audience cards */
.who-card:hover {
  box-shadow: 15px 30px 50px rgba(0, 0, 0, 0.08);
}

/* icon styling */
.who-icon {
  font-size: 30px;
}

/* audience title */
.who-card h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  color: #2c2c2c;
}

/* audience description */
.who-card p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  color: #5a6a7a;
  margin-top: 15px;
  line-height: 1.6;
}
