/* ================= BODY ================= */

body {
  background-color: #f4f1eb;
  margin: 0;
  padding: 0;
}

/* ================= NAVBAR ================= */

.navbar {
  position: sticky; /* makes navbar stick while scrolling */
  top: 0; /* to stick navbar to top */
  z-index: 1000; /* to keeps it above other elements while scrolling */
  display: flex; /* to align items in a row */
  justify-content: space-between; /* to give enough space between contents */
  align-items: center;
  padding: 15px 60px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* for shadow effect*/
}

/* logo box containing website name and logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* logo name */
.logo a {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 28px;
  font-weight: 600;
  color: #2c2c2c;
}

/* logo image */
.logo img {
  height: 30px;
}

/* different color for word "Sync" */
.logo span {
  color: #6c7a89;
  font-style: italic;
}

/* container for nav links */
.nav-links {
  list-style: none; /* to remove bullets from the start */
  display: flex; /* to centre links in one straight nav bar */
  gap: 40px; /* space between links */
  margin: 0;
  padding: 0;
}

/* nav link styling */
.nav-links a {
  text-decoration: none; /* to remove underlines from the links */
  font-family: "Plus Jakarta Sans", serif;
  font-size: 15px;
  color: #5a6a7a;
  transition: color 0.3s ease; /* for a good hover effect transition */
}

/* nav bar links: hover effect */
.nav-links a:hover {
  color: #2c2c2c;
}

/* check compatibility button */
.check-comp-btn {
  text-decoration: none; /* to remove underline from btn text */
  background-color: #6c7a89;
  color: white;
  padding: 10px 20px;
  border-radius: 30px; /* to give a round pill-like shape */
  font-family: "Plus Jakarta Sans", serif;
  font-size: 15px;
  transition: background-color 0.3s ease; /* for hover effects */
}

/* check compatibility button: hover */
.check-comp-btn:hover {
  background-color: #657993;
}

/* ================= HERO SECTION ================= */

/* heading font */
h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 80px;
  font-weight: 500;
  margin: 0;
  line-height: 1; /* to adjust the vertical space between words  */
}

/* 'perfect' word styling */
.perfect {
  font-family: "Playfair Display", serif; /* different font for contrast */
  font-style: italic;
  color: #657993; /* different colour for contrast */
}

/* hero subtext */
.hero-subtext {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 17px;
  color: #5a6a7a;
  max-width: 480px; /* to prevent long stretched line */
  margin-top: 25px;
  line-height: 1.6; /* to adjust vertical space between lines */
}

/* hero buttons */
.hero-buttons {
  display: flex; /* Places buttons side by side */
  gap: 20px; /* Space between buttons */
  margin-top: 30px; /* Space above buttons */
}

/* hero button 2 */
.hero-btn-2 {
  text-decoration: none; /* to remove underline from btn text */
  background-color: transparent;
  color: #6c7a89;
  border: 1.5px solid #6c7a89; /* border styling */
  padding: 12px 24px;
  border-radius: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
}

/* hero section container */
.hero {
  display: flex; /* heading and image in a straight line */
  justify-content: space-between; /* to push heading left, image right */
  align-items: center;
  padding: 80px 60px;
  gap: 50px;
}

/* hero image styling */
.hero-image img {
  border-radius: 100px;
}
