* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin-top: 0px;
  padding: 0;
}
body {
  background-color: rgb(227, 227, 230);
  margin: 0px 2px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(124, 170, 170);
}
button {
  border-radius: 7cqh;
  font-size: large;
  cursor: pointer;
  border: 2px solid black;
  background-color: azure;
}
h2 {
  font-size: larger;
}
h3 {
  font-size: larger;
}
nav {
  position: sticky;
  top: 0px;
  margin: 0px;
  background-color: rgb(179, 188, 188);
}
.h11 {
  margin: 10px 2px;
}
hr {
  margin: 10px 0px;
}
.btn {
  padding: 2px 3px;
  margin: 4px;
}
ul li {
  list-style: none;
  display: inline-flex;
  justify-content: flex-end;
  align-content: flex-end;
}
li {
  justify-content: flex-end;
  align-content: flex-end;
}
ul {
  justify-content: flex-end;
  align-content: flex-end;
}
.items {
  justify-content: flex-end;
  align-content: flex-end;
  font-size: larger;
}
.btn:hover {
  background-color: rgb(214, 224, 224);
}
.container {
  display: grid;
  display:flex;
  /* grid-template-columns: 4fr; */
  justify-content:center;
  align-items:center;
  gap:10px;
}
.sp {
  border: 1px solid black;
  display: grid;
  grid-template: 500px 500px;
  justify-content:center;
  align-content:center;
}
.steps{
    justify-content:center;
    align-content:center;
}
p{
    font-size:larger;
}